@import 'components/common.scss';

.ribbon-warning {
  background-color: #ef8633;
  color: #ffffff;
  width: 100%;
  padding: 0.25rem;
  margin-right: auto;
  margin-left: auto;
}

.ribbon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.ribbon-text {
  flex-basis: 0;
  flex-grow: 9;
  max-width: 100%;
}

.ribbon-button {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.clickable-icon {
  cursor: pointer;
}
