* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: white;
  padding: 0;
  margin: 0;
  /* REQUIRED TO KEEP FOOTER TO THE BOTTOM */
  height: 100%;
}



.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}