* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 0;
  margin: 0;
  /* REQUIRED TO KEEP FOOTER TO THE BOTTOM */
  /* Also see layout.module.scss */
  height: 100%;
}
