@import '../../common.scss';

.side-panel {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;

  > .side-panel-item {
    border-bottom: 1px solid $primary-color-dark;
    .header {
      @include naked-button();

      border-bottom: 1px solid $primary-color-dark;
      font-size: 0.8rem;
      padding: 0;
      min-width: 15rem;
      text-align: left;
      color: $primary-color-dark;

      display: grid;
      align-items: center;
      grid-template-columns: auto 1fr auto;
      width: 100%;

      & > * {
        margin: 0.2rem;
      }

      .icon {
        margin-right: 1rem;
      }

      .description {
        margin-top: 0;
      }

      .expand-button {
        @include center-vertically();
        @include center-horizontally();
        width: 50px;
        height: 50px;

        // https://stackoverflow.com/questions/19053181/how-to-remove-focus-around-buttons-on-click
        &:focus {
          outline: none;
          box-shadow: none;
        }

        .expand-icon {
          transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
          transform: rotate(0deg);
        }

        .expand-icon-open {
          transform: rotate(180deg);
        }
      }
    }

    .loading {
      @include center-vertically();
      @include center-horizontally();
      height: 50px;
    }
  }

  @media screen and (max-width: 600px) {
    padding-right: 0;
  }
}

.side-panel-item {
  font-size: 0.8rem;
  padding: 0;
  min-width: 15rem;
  text-align: left;
  color: $primary-color-dark;

  .header {
    @include naked-button();
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    width: 100%;

    & > * {
      margin: 0.2rem;
    }

    .icon {
      margin-right: 1rem;
    }

    .description {
      margin-top: 0;
    }
  }

  .expand-button {
    @include center-vertically();
    @include center-horizontally();
    width: 50px;
    height: 50px;

    .expand-icon {
      transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transform: rotate(0deg);
    }

    .expand-icon-open {
      transform: rotate(180deg);
    }
  }

  .loading {
    @include center-vertically();
    @include center-horizontally();
    height: 50px;
  }
}
