@import 'utils';

.admin-action {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  padding: 0;
  min-width: 15rem;
  color: $primary-color-dark;

  & > * {
    margin: 0.2rem;
  }

  div {
    p {
      margin-top: 0;
      color: $primary-color-dark;
    }
  }

  .expand-icon {
    margin-left: 2rem;
    cursor: pointer;
  }
}
.admin-join-queue-form {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: max-content;
}

.token-list {
  @include center-horizontally();
  max-width: 40rem;
  padding: 2rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.token-list-with-content {
  @include center-horizontally();
  max-width: 40rem;
  padding: 2rem;
  margin: 0 auto auto auto;
  display: flex;
  flex-direction: column;
}

.token {
  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: 0.6rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  width: 100%;
  height: 4rem;

  margin: 1rem;
  padding: 0;

  &:hover {
    -webkit-box-shadow: 0 3px 18px -6px black;
    -moz-box-shadow: 0 3px 18px -6px black;
    box-shadow: 0 3px 18px -6px black;
  }

  .token-number {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.4rem;
    min-width: 4rem;
    max-width: max-content;
    height: 4rem;
    background: $primary-color-dark;

    margin-left: -0.1rem;

    & > p {
      margin: 0;
      padding: 1rem;
      font-weight: bold;
      font-size: 2rem;
      color: #fafafa;
    }
  }

  .token-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin: 0 0 0 1rem;

    .token-name-time {
      text-align: left;
      & > p {
        margin: 0;

        &:first-child {
          font-size: 0.75rem;
        }
        &:last-child {
          color: $primary-color-dark;
          font-weight: bold;
        }
      }
    }

    .token-operations {
      display: flex;
      flex-direction: row;
      align-items: center;

      .token-icon-set {
        display: flex;
        .token-icon {
          color: $primary-color-dark;
        }
      }

      .token-remove {
        position: relative;
        background-color: lightcoral;
        margin: 0;
        padding: 0;
        height: 3rem;
        width: 4rem;
        transform: rotate(-90deg);
        border-radius: 0 0 0.5rem 0.5rem;

        border: 0.1rem solid $primary-color-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -0.5rem;

        & > p {
          text-transform: uppercase;
          text-align: center;
          font-size: 0.75rem;
          font-weight: bold;
          color: $primary-color-dark;
        }
      }
    }
  }
}

.header-bar {
  @include background-color();
  padding: 1.5rem;
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;

  .header {
    @include standard-header();
    font-size: 2.7rem;
    padding-left: 2rem;
  }

  .admin-button {
    padding: 0 0.1rem;
  }

  .main-button-group {
    @include center-horizontally();
    padding-right: 3rem;
    padding-top: 1.5rem;
    margin-right: 0;
    & > div {
      margin: 0.5rem;
    }
    @media screen and (max-width: 400px) {
      padding-right: 0;
      flex-direction: column;
    }
  }
}

.main-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.navbar {
  width: 100%;
  height: 4rem;
  background-color: #fff;
  border-bottom: 0.2rem solid #f1f1f1;
  padding: 0 3rem;
  z-index: 99;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  & > img {
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
    cursor: pointer;
  }
  p {
    font-family: $header-font;
    cursor: pointer;
  }
}
