@import 'utils';

.admin-action {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  min-width: 15rem;

  & > * {
    margin: 0.2rem;
  }
  h2 {
    margin-bottom: 0.2rem;
  }
  p {
    margin-top: 0;
  }
}

.token-list {
  @include center-horizontally();
  max-width: 30rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.token {
  @include center-horizontally();
  background-color: white;
  margin: 0.5rem auto;
  border: 0.1rem solid $primary-color-dark;
  border-radius: 0.6rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  justify-content: space-between;
  width: 100%;
  padding: 0;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  & > div {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    div {
      padding: 0;
    }
    button {
      margin: 0 1rem;
    }
    .person-name {
      @include text-color();
      font-weight: bold;
      margin-bottom: 0;
      text-transform: capitalize;
    }
    .token-number {
      margin-top: 0;
      font-size: 0.75rem;
      text-align: left;
      .token-number-value {
        @include text-color();
        font-weight: bold;
      }
    }
  }
}

.header-bar {
  @include background-color();
  padding: 1.5rem;
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;

  .header {
    @include standard-header();
    font-size: 2.7rem;
    padding-left: 2rem;
  }

  .admin-button {
    padding: 0 0.1rem;
  }

  .main-button-group {
    @include center-horizontally();
    padding-right: 3rem;
    padding-top: 1.5rem;
    margin-right: 0;
    & > div {
      margin: 0.5rem;
    }
  }
}

.main-body {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  width: 100%;
  height: 4rem;
  background-color: #fff;
  border-bottom: 0.2rem solid #f1f1f1;
  padding: 0 3rem;
  z-index: 99;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  & > img {
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
  }
  p {
    font-family: $header-font;
  }
}
