@import 'constants';

.standard-button {
  background-color: $primary-color-dark;
  color: #fff;
  display: inline-block;
  padding: 0.2em 0.5em 0.3em 0.5em;
  font-weight: bold;
  border: 2px solid $primary-color-dark;
  border-radius: 8px;
  text-align: center;
  transition: all 0.2s;

  &:hover {
    background-color: #fff;
    color: $primary-color-dark;
  }
}
