$primary-color-dark: #3a3768;
$primary-color-light: rgba(108, 99, 255, 0.2);
$header-font: 'Pacifico', Regular;

// @mixin center-block {
//   margin: 0 auto;
// }

// @mixin center-inline {
//   text-align: center;
// }

@mixin centered-flexbox-parent-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

@mixin centered-flexbox-parent-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

@mixin background-blue {
  background-color: $primary-color-light;
}

@mixin div-padding {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

@mixin text-color {
  color: $primary-color-dark;
}

// @mixin text-box {
// }
