$primary-color-dark: #3a3768;
$primary-color-light: #6560ca;
$header-font: 'Pacifico', Regular;

@mixin center-block {
  margin: 0 auto;
}

@mixin center-inline {
  text-align: center;
}

@mixin centered-flexbox-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  //flex-direction: row;
  //margin: auto;
}

@mixin centered-flexbox-parent-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin background-blue {
  background-color: $primary-color-light;
}
