@import 'utils';

div {
  @include div-padding();
}

.create-button {
  @include center-horizontally();
}

// styling specific to materialUI TextFiled component
.input {
  @include center-horizontally();
  width: 50%;
  fieldset {
    border-radius: 0.5rem;
  }
}

.main {
  min-height: 100vh;
}
