@import 'utils';

.landing-page {
  height: 100vh;
  padding-top: 5vh; // Extra padding as placeholder for navbar

  .main-header {
    @include standard-header();
    font-family: $header-font;
    font-size: 5rem;
  }

  .create-join-form {
    margin: auto; // centering
    max-width: 35rem;
    position: relative;
    z-index: 3;
    .button-group {
      @include center-horizontally();
      flex-wrap: wrap;
      button {
        margin: 0.5rem 2rem;
        min-width: 10rem;
      }
    }
    .input-box {
      min-height: 5rem;
    }
  }

  svg {
    bottom: 0;
    position: absolute;
    display: flex;
    z-index: 2;
  }
}

.subtitle {
  @include center-horizontally();
  @include text-color();
  font-weight: 800;
  margin: 1rem;
  font-size: x-large;
}

.description {
  @include center-horizontally();
  @include text-color();
  margin-bottom: 4rem;
  font-size: larger;
}

.benefits-info {
  @include background-color();
  @include text-color();
  @include center-vertically();
  @include center-horizontally();
  div {
    padding: 4.5rem;
    margin: auto;
    font-size: 1.25rem;
    img {
      height: 4.5rem;
    }
  }
}

.slider {
  @include text-color();
  @include center-vertically();
  @include center-horizontally();
  margin: 2.5rem;
}

.extra-info {
  @include background-color();
  @include text-color();
  @include center-vertically();
  @include center-horizontally();
  div {
    display: flex;
    align-items: center;
    p {
      min-width: 10rem; // So that the text alings along a vertical line, as the entre component in vertically centered
    }
  }
}
