@import 'constants';

.main-header {
  font-family: $header-font;
  font-size: 65pt;
  text-align: center;
}

.button-group {
  div {
    padding: 10px;
  }
  button {
    margin: auto; // centering
    display: block; // new line
  }
}

.center {
  @include centered-flexbox-parent();
  font-size: 18pt;
}

.benefits-info {
  @include background-blue();
  @include centered-flexbox-parent-vertical();
  div {
    margin: auto;
  }
}

.create-queue {
  @include centered-flexbox-parent-vertical();
}

.join-queue {
  @include centered-flexbox-parent-vertical();
}

.extra-info {
  @extend .benefits-info;
}
