@import 'utils';

div {
  @include div-padding();
}

.landing-page {
  height: 100vh;

  .main-header {
    @include standard-header();
    font-family: $header-font;
    font-size: 5rem;
  }

  .create-join-form {
    margin: auto; // centering
    max-width: 35rem;
    position: relative;
    z-index: 3;
    .button-group {
      @include center-horizontally();
      button {
        margin: 2rem;
        min-width: 10rem;
      }
    }
  }

  svg {
    bottom: 0;
    position: absolute;
    display: flex;
    z-index: 2;
  }
}

.center {
  @include center-horizontally();
  @include text-color();
  font-size: 1.5rem;
}

.benefits-info {
  @include background-color();
  @include text-color();
  @include center-vertically();
  @include center-horizontally();
  div {
    padding: 4.5rem;
    margin: auto;
    font-size: 1.25rem;
    img {
      height: 4.5rem;
    }
  }
}

.slider {
  @include text-color();
  @include center-vertically();
  @include center-horizontally();
  margin: 2.5rem;
}

.extra-info {
  @include background-color();
  @include text-color();
  @include center-vertically();
  @include center-horizontally();
  div {
    display: flex;
    align-items: center;
    p {
      min-width: 10rem; // So that the text alings along a vertical line, as the entre component in vertically centered
    }
  }
}
