@import 'utils';


.message{
 text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 35rem;
  margin: auto;
  padding: 2rem;

  & > div {
    margin: 1rem;
  }
}
.header-title {
  margin: auto;
  .sub-header {
    display: flex;
    font-family: Pacifico;
    font-size: 0.8rem;
    font-weight: 300;
    color: #3a3768;
    align-items: center;
  }
}

.header-bar {
  @include background-color();
  padding: 0.5rem;
  // padding-top: 4rem;
  
  display: flex;
  flex-wrap: wrap;
  .simplq-logo{
    margin-top: 35px;
  }
  .header {
    @include standard-header();
    font-size: 2.7rem;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1000px) {
  .header-bar {
    .header-title {
      
    }
  }
}
