@import 'utils';

.main {
  @include center-horizontally();
  @include center-vertically();
  @include text-color();
  font-size: x-large;
  min-height: 100vh;
  div {
    padding: 1rem;
  }
  Button {
    cursor: pointer;
  }
}
