@import 'utils';

.side-panel-button {
  @include naked-button();
  font-size: 0.8rem;
  padding: 0;
  min-width: 15rem;
  text-align: left;
  color: $primary-color-dark;

  .header {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    width: 100%;

    & > * {
      margin: 0.2rem;
    }

    .icon {
      margin-right: 1rem;
    }

    .description {
      margin-top: 0;
    }
  }

  .expand-button {
    @include center-vertically();
    @include center-horizontally();
    width: 50px;
    height: 50px;

    .expand-icon {
      transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      transform: rotate(0deg);
    }

    .expand-icon-open {
      transform: rotate(180deg);
    }
  }

  .loading {
    @include center-vertically();
    @include center-horizontally();
    height: 50px;
  }
}
