@import 'utils';

.side-panel {
  padding-top: 1.5rem;
  padding-right: 6rem;

  > div {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $primary-color-dark;
  }
  @media screen and (max-width: 600px) {
    padding-right: 0;
  }
}
