@import 'utils';

.side-panel {
  box-sizing: border-box;
  padding: 0 6rem 2.45rem 0;
  display: flex;
  flex-flow: column;
  z-index: 10;

  > button {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $primary-color-dark;
  }

  @media screen and (max-width: 600px) {
    padding-right: 0;
  }
}
