@import 'utils';

.main-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-group {
  @include center-vertically();
  div {
    padding: 1rem;
    margin: auto;
  }
}

.header {
  @include queue-name-header();
  margin-top: 0;
}

.details-header {
  @include queue-name-header();
  @include box-border();
  font-weight: lighter;
  font-size: 1.7rem;
  margin: 0;
}

.count {
  font-size: 2rem;
}

.status-box {
  border: 1.5px solid $primary-color-dark;
  border-radius: 1rem;
  width: 40%;
  padding: 10%;
  box-sizing: border-box;
}

.details {
  // Initially hidden
  display: none;
}

.center-table {
  @include center-horizontally();
  text-align: left;
  td {
    padding: 0.7rem;
  }
}

.detail-value {
  font-size: larger;
  padding-left: 1rem;
}

input[type='checkbox']:checked ~ .details {
  @include background-color();
  display: inherit;
}

.visually-hidden {
  position: absolute;
  left: -100vw;
}

.user-action {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  min-width: 15rem;

  & > * {
    margin: 0.2rem;
  }
  h2 {
    margin-bottom: 0.2rem;
  }
  p {
    margin-top: 0;
  }
}
