$primary-color-dark: #3a3768;
$primary-color-light: #6c63ff29;
$header-font: 'Pacifico', Regular;

@mixin center-horizontally {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

@mixin center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

@mixin background-color {
  background-color: $primary-color-light;
}

@mixin text-color {
  color: $primary-color-dark;
}

@mixin standard-header {
  @include text-color();
  text-align: center;
}

@mixin queue-name-header {
  @include standard-header();
  @include background-color();
  padding: 2rem;
  font-size: 2rem;
}

@mixin box-border {
  border: 1px solid $primary-color-dark;
  border-radius: 0.5rem;
}

@mixin naked-button {
  font-weight: 400;
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  outline: inherit;
  padding: 0;
  cursor: pointer;
  transition: background 300ms ease-in-out;

  &:hover {
    background: #f8f9fa;
  }
}
