// REQUIRED TO KEEP FOOTER TO THE BOTTOM
// Also see index.css
// https://stackoverflow.com/a/24979148
.box {
  display: flex;
  flex-flow: column;
  height: 100%;

  .content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
  .footer {
    flex: 0 1 40px;
  }
}
