@import 'components/common.scss';

.standard-button {
  background-color: $primary-color-dark;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: large;
  border: 2px solid $primary-color-dark;
  border-radius: 0.6rem;
  text-align: center;
  transition: background 0.8s;
  background-position: center;
  text-transform: capitalize;
  min-height: 2.5rem;
  padding: 0.2rem 1rem;

  &:focus {
    outline: none;
  }

  &:hover {
    background: #4e4c66 radial-gradient(circle, transparent 1%, #4e4c66 1%) center/15000%;
    cursor: pointer;
  }

  &:active {
    background-color: #9e99fc;
    background-size: 100%;
    transition: background 0s;
  }
}

.icon {
  display: flex;
  margin-right: 0.5rem;
}

.standard-button-outlined {
  @extend .standard-button;
  background-color: #fff;
  color: $primary-color-dark;
  border: 1px solid $primary-color-dark;

  &:hover {
    background: #f8f8f8 radial-gradient(circle, transparent 1%, #f8f8f8 1%) center/15000%;
  }

  &:active {
    background-color: #9e99fc;
    background-size: 100%;
    transition: background 0s;
  }
}
