@import 'components/common.scss';

.my-token {
  @include text-color();
  @include center-horizontally();
  flex-direction: column;
  .my-token-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 18rem;
    border-bottom: 0.1rem solid;
    border-top: 0.1rem solid;
    padding: 0.25rem 1rem;

    &:hover {
      background-color: #f9f9f9;
    }
  }
}
