@import '../../common.scss';

.detail {
  display:flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  max-width: 35rem;

  .detail-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.5rem;

    .detail-value {
      font-size: larger;
      padding-left: 1rem;
    }

    .large-value {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
}